<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>City Trial Checks</title>
        <meta name="description" content="City Trial Checks">
        <meta name="og:description" content="City Trial Checks">
        <meta property="twitter:image" content="preview.png">
        <meta name="theme-color" content="#ffc0cb">
        <link rel="stylesheet" href="styles.css">
        <link href="favicon.ico" type="image/x-icon" rel="icon">
    </head>
    <body>
        <div id="app">
            <div id="nav">
                <image id="icon" src="preview.png">City Trial Checks
            </div>
            <div id="check-body">
                <div v-for="section in sections" class="section">
                    <div class="title" @click="section.show = !section.show">
                        <b>{{section.title}}</b>
                        <div class="toggle">{{section.show ? 'Collapse' : 'Show'}}</div>
                    </div>
                    <div class="checks" v-show="section.show">
                        <div v-for="check in section.checks">
                            <input type="checkbox" :id="check">
                            <label :for="check">{{check}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="vue.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>
