html,
body,
#app {
    height: 100%;
}

body {
    background-color: #434343;
    color: #fff;
    margin: 0;
    padding: 0;
}

/*input {
    background-color: #fff;
    margin-top: 4px;
    color: #000;
    border:none;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    outline-color: #ffc0cb;
}

input::placeholder {
    color: #666;
}*/

#app {
    display: flex;
    flex-direction: column;
}

#nav {
    background-color: #202020;
    color: #fff;
    padding: 16px;
    font-size: 1.2rem;
    border-bottom: 1px solid #ffc0cb;
    display: flex;
    align-items: center;
}

#icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

#check-body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 16px;
}

.section {
    background-color: #333;
    padding: 12px;
    margin: 0 8px 8px 0;
}

.section .title {
    display: flex;
    cursor: pointer;
}

.toggle {
    margin-left: auto;
    color: #ffc0cb;
    padding-left: 8px;
}

.checks {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
}

.checks > div {
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.checks div:last-child {
    padding-bottom: 0;
}

.divider {
    border-top: 1px solid #fff;
    margin-top: 8px;
    height: 8px;
    width: 100%;
}

label {
    padding-left: 4px;
    cursor: pointer;
}

label.checked {
    color: #999;
}

input {
    margin: 0;
}
